/* override table width restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive table {
    table-layout: fixed;
}

.wy-table-responsive table td code,
.wy-table-responsive table th code {
    white-space: normal;
    overflow-wrap: break-word;
    overflow-wrap: anywhere;

.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
}

.wy-table-responsive th p {
    margin-bottom: unset;
}


/* img center */

img.align-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
